<br>
<h1>Welcome to Eat Da Burger Restaurant!</h1>

<div class='container col-8 text-center'>
    <form class='create-form' action='burgers/insertOne' method='POST'></form>
    <div class="form-group">
        <label for="addBurger"></label>
        <textarea class="form-control" class='text-center' id="addBurger" rows="3" name='name'></textarea>
        <br>
        <h5 class="text-center">Create a burger you want to eat then click the 'submit' button!</h5>
        <button type="submit" class="btn btn-success" id="create-burger" id='addBurger'>Submit</button>

    </div>

    </form>
</div>

<div class='container'>
<div class='row justify-content-md-center'>
<div class="card newBurgerDiv" style="width: 18rem;">
    <div class="card-header">
       <h4>Burgers Created:</h4>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
    </ul>
</div>



<div class="card devouredBurgerDiv" style="width: 18rem;">
    <div class="card-header">
<h4>Burgers Devoured:</h4>    
    </div>

<ul>
    {{#each burgers}}
    {{#if this.devoured}}
    <li>
        {{this.burger_name}}

        <form action='burgers/updateOne/{{this.id}}?_method=PUT' method='POST'>
            <input type="hidden" name='devoured' value='false'>
            <button type='submit' class='devourIt'>Devour it!</button>
        </form>
    </li>
    {{/if}}
    {{/each}}
</ul>

</div>
</div>
</div>